<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zal.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Zal.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zal.Settings>
            <setting name="runAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="primaryNetworkInterface" serializeAs="String">
                <value>0</value>
            </setting>
        </Zal.Settings>
        <Zal.Settings1>
            <setting name="presentmon" serializeAs="String">
                <value />
            </setting>
        </Zal.Settings1>
    </userSettings>
</configuration>